*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  font-size: 12px;
  padding: 50px;
  background-image: url('../images/istockphoto-1060573244-612x612.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(var(--hue), 100%, 20%);
  background-size: 60%;
  /* background-position: 50%; */
  max-width: 4500px;
  margin: 0 auto;
  background-attachment: fixed;
  flex: 400px;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container1 {
  width: 700px;
  max-width: 100%;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 10px 2px;
  font-size: 30px;
  align-content: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px, 10px;
  color: white;
  outline: none;
  font-size: 20px;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong)
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.body, .card {
  padding-left: 75vh;
}

#timer {
  position: absolute;
  top: 125px;
  left: 400px;
  font-size: 50px;
}

a, #timer {
  font-family: 'Bungee Shade';
}

.container {
  position: absolute;
  bottom: -100px;
  left: 557px;
  font-size: 50px;
}

#highScore {
  color: black;
  font-size: 35px;
}

.body {
  padding-left: 15%;
}
#header.card {
  font-family: 'Bungee Shade' !important;
  color: black;
  position: relative;
  font-size: 60px;
  padding-left: 28%;
}

li {
  font-size: 30px;
}

h1 {
  font-size: 25px;
  margin-block-end: 200px;
}

.row {
  display: inline;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


@media screen and (max-width: 400px) {
  body {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-right: 25%;
  }

  #timer {
      float: right;
  }

  #highScore {
    padding-top: 50%;
  }
}
